<div class="lista">
  <table class="escenarios">
    <tr>
      <th>Escenario</th>
      <th>Estado</th>
    </tr>
    
      {{#each datos}}
    <tr class="linea">
      <td>{{this.name}}</td>
      <td id={{this.name}}>
      </td>
    </tr>
      {{/each}}
  </table>
</div>

<script src="/javascripts/main.bundle.js"></script>
