<form method="post">
  <label for="team_name">Nombre de equipo: </label>
  <input id="nombre_equipo" type="text" name="equipo" value="equipo 1.">
</form>

<button id="solicitud">Prueba</button>

<script src="/javascripts/formulario.bundle.js"></script>
