<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Visor 3D</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				margin: 0;
        padding: 0px;
			}
		</style>
	</head>
<body>
  <script id="vertex_shader" type="x-shader/x-vertex">

    varying vec2 vUv;

    void main() {

      vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

      vUv = uv;

      gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );

    }

  </script>
  <script id="fragment_shader" type="x-shader/x-fragment">

    uniform sampler2D texture;
    uniform sampler2D texture2;

    varying vec2 vUv;
    varying vec3 vNormal;
    varying vec3 vViewPosition;

    void main() {

      vec4 tColor = texture2D( texture, vUv );
      vec4 tColor2 = texture2D( texture2, vUv );

      gl_FragColor = vec4( mix( tColor.rgb, tColor2.rgb, tColor2.a ), 1.0 );

    }

  </script>
  {{#if renderSidebar}}
  <span id="menuIcon">&#9776;</span>
  <button class="textureButton">Topo</button>
  <div id="sidenav">
    <a class="closebtn">X</a>
    <div id="jsTabs">
      <nav class="js-tabs__nav">
        <ul class="js-tabs__tabs-container">
          <li class="js-tabs__tab active" title='icon'>Iconos</li>
          <li class="js-tabs__tab" title='paint'>Pintar</li>
          <li class="js-tabs__tab" title='video'>Video</li>
        </ul>
        <div class="js-tabs__marker"></div>
      </nav>
      <ul class="js-tabs__content-container">
        <li class="js-tabs__content active">
          <h2>Elige un icono:</h2>
          <nav class="icon">
            <div class="icon-truck" data-image="truck"></div>
            <div class="icon-users" data-image="users"></div>
            <div class="icon-binoculars active-icon" data-image="binoculars"></div>
            <div class="icon-airplane" data-image="airplane"></div>
            <div class="icon-home" data-image="home"></div>
          </nav>
          <div class="iconsToDelete"></div>
        </li>
        <li class="js-tabs__content">
          <h2>Elige un color:</h2>
          <ul class="colors">
            <li class="active-color" data-color="#ffd700"></li>
            <li data-color="#9400d3"></li>
            <li data-color="#cd5c5c"></li>
            <li data-color="#ff8c00"></li>
            <li data-color="#adff2f"></li>
          </ul>
          <div class="linesToDelete"></div>
        </li>
        <li class="js-tabs__content">
          <h2>Video</h2>
          <button id="play">Play</button>
          <button id="pause">Pause</button>
          <div>
            <input class="seek" id="seek" value="0" min="0" type="range" step="1">
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div id="modalMMTT" class="modal">
    <div class="modal-content">
      <div class="ico-content" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <circle cx="30" cy="30" r="10" fill="red" stroke='red'></circle>
            <circle cx="30" cy="30" r="14" fill="transparent" stroke='red' stroke-width='2px'></circle>
          </g>
        </svg>
      </div>
      <div class="ico-content" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <polygon points="5,8 55,8 30,51.3" fill="black"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-white" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="38" font-size="20" fill="white">V</text>
            <circle cx="30" cy="30" r="23" fill="transparent" stroke='white'></circle>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-white" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="38" font-size="20" fill="white">C</text>
            <circle cx="30" cy="30" r="23" fill="transparent" stroke='white' ></circle>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-white" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="38" font-size="20" fill="white">S</text>
            <circle cx="30" cy="30" r="23" fill="transparent" stroke='white'></circle>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-white" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="38" font-size="20" fill="white">A</text>
            <circle cx="30" cy="30" r="23" fill="transparent" stroke='white'></circle>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-white active">
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="38" font-size="20" fill="white">X</text>
            <circle cx="30" cy="30" r="23" fill="transparent" stroke='white'></circle>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="16" y="27" font-size="20" fill="yellow">TE</text>
            <polygon points="5,8 55,8 30,51.3" fill="transparent"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="13" y="24" font-size="16" fill="yellow">AMA</text>
            <polygon points="5,8 55,8 30,51.3" fill="transparent"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="13" y="24" font-size="16" fill="yellow">TOP</text>
            <polygon points="5,8 55,8 30,51.3" fill="transparent"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="43" font-size="20" fill="yellow">E</text>
            <polygon points="5,51.3 55,51.3 30,8" fill="transparent"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow">
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="43" font-size="20" fill="yellow">B</text>
            <polygon points="5,51.3 55,51.3 30,8" fill="transparent"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="43" font-size="20" fill="yellow">A</text>
            <polygon points="5,51.3 55,51.3 30,8" fill="transparent"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="43" font-size="20" fill="yellow">P</text>
            <polygon points="5,51.3 55,51.3 30,8" fill="transparent"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="23" y="43" font-size="20" fill="yellow">N</text>
            <polygon points="5,51.3 55,51.3 30,8" fill="transparent"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="22" y="43" font-size="20" fill="yellow">M</text>
            <polygon points="5,51.3 55,51.3 30,8" fill="transparent"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="20" y="43" font-size="20" fill="yellow">EI</text>
            <polygon points="5,51.3 55,51.3 30,8" fill="transparent"></polygon>
            <polygon points="10,49 50,49 30,14" fill="transparent"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <polygon points="5,51.3 55,51.3 30,8" fill="transparent"></polygon>
            <polygon points="10,49 50,49 30,14" fill="transparent"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <polygon points="10,49 50,49 30,14" fill="red" stroke="black"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <polygon points="5,51.3 55,51.3 30,8" fill="transparent" stroke="black"></polygon>
            <polygon points="10,49 50,49 30,14" fill="red" stroke="black"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="16" y="36" font-size="20" fill="yellow">AA</text>
            <polygon points="5,30 30,5 55,30 30,55" fill="transparent"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="12" y="36" font-size="18" fill="yellow">ACT</text>
            <polygon points="5,30 30,5 55,30 30,55" fill="transparent"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="12" y="36" font-size="18" fill="yellow">ACV</text>
            <polygon points="5,30 30,5 55,30 30,55" fill="transparent"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="12" y="36" font-size="18" fill="yellow">HEP</text>
            <polygon points="5,30 30,5 55,30 30,55" fill="transparent"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="12" y="36" font-size="18" fill="yellow">HTE</text>
            <polygon points="5,30 30,5 55,30 30,55" fill="transparent"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content stroke-yellow" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <polygon points="5,30 30,5 55,30 30,55" fill="transparent" stroke="black" stroke-width='4px'></polygon>
            <polygon points="10,30 30,10 50,30 30,50" fill="transparent"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="10" y="36" font-size="18" fill="darkblue" stroke="darkblue">PMA</text>
            <polygon points="5,10 55,10 55,50 5,50" fill="transparent" stroke="darkblue"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <polygon points="15,25 25,25 25,15 35,15 35,25 45,25 45,35 35,35 35,45 25,45 25,35 15,35" fill="transparent" stroke="darkblue"></polygon>
            <polygon points="5,10 55,10 55,50 5,50" fill="transparent" stroke="darkblue"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="18" y="36" font-size="18" fill="darkblue" stroke="darkblue">AE</text>
            <polygon points="10,10 50,10 50,50 10,50" fill="transparent" stroke="darkblue"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="18" y="36" font-size="18" fill="darkblue" stroke="darkblue">PA</text>
            <polygon points="10,10 50,10 50,50 10,50" fill="transparent" stroke="darkblue"></polygon>
          </g>
        </svg>
      </div>
      <div class="ico-content" >
        <svg xmlns="http://www.w3.org/2000/svg">
          <g>
            <text x="24" y="36" font-size="18" fill="darkblue" stroke="darkblue">H</text>
            <polygon points="10,10 50,10 50,50 10,50" fill="transparent" stroke="darkblue"></polygon>
          </g>
        </svg>
      </div>
    </div>
  </div>
  {{/if}}
		<script src="/visor/bundle.js"></script>
</body>
</html>

