<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Visor 3D</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<style>
			body {
				margin: 0;
        padding: 0px;
			}
		</style>
	</head>
<body>
  <script id="vertex_shader" type="x-shader/x-vertex">

    varying vec2 vUv;

    void main() {

      vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );

      vUv = uv;

      gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );

    }

  </script>
  <script id="fragment_shader" type="x-shader/x-fragment">

    uniform sampler2D texture;
    uniform sampler2D texture2;

    varying vec2 vUv;
    varying vec3 vNormal;
    varying vec3 vViewPosition;

    void main() {

      vec4 tColor = texture2D( texture, vUv );
      vec4 tColor2 = texture2D( texture2, vUv );

      gl_FragColor = vec4( mix( tColor.rgb, tColor2.rgb, tColor2.a ), 1.0 );

    }

  </script>
  {{#if renderSidebar}}
  <span id="menuIcon">&#9776;</span>
  <button class="textureButton">Topo</button>
  <div id="sidenav">
    <a class="closebtn">X</a>
    <div id="jsTabs">
      <nav class="js-tabs__nav">
        <ul class="js-tabs__tabs-container">
          <li class="js-tabs__tab active" title='icon'>Iconos</li>
          <li class="js-tabs__tab" title='paint'>Pintar</li>
          <li class="js-tabs__tab" title='video'>Video</li>
        </ul>
        <div class="js-tabs__marker"></div>
      </nav>
      <ul class="js-tabs__content-container">
        <li class="js-tabs__content active">
          <h2>Elige un icono:</h2>
          <nav class="icon">
            <div class="icon-truck" data-image="truck"></div>
            <div class="icon-users" data-image="users"></div>
            <div class="icon-binoculars active-icon" data-image="binoculars"></div>
            <div class="icon-airplane" data-image="airplane"></div>
            <div class="icon-home" data-image="home"></div>
          </nav>
          <div class="iconsToDelete"></div>
        </li>
        <li class="js-tabs__content">
          <h2>Elige un color:</h2>
          <ul class="colors">
            <li class="active-color" data-color="#ffd700"></li>
            <li data-color="#9400d3"></li>
            <li data-color="#cd5c5c"></li>
            <li data-color="#ff8c00"></li>
            <li data-color="#adff2f"></li>
          </ul>
          <div class="linesToDelete"></div>
        </li>
        <li class="js-tabs__content">
          <h2>Video</h2>
          <button id="play">Play</button>
          <button id="pause">Pause</button>
          <div>
            <input class="seek" id="seek" value="0" min="0" type="range" step="1">
          </div>
        </li>
      </ul>
    </div>
  </div>
  {{/if}}
		<script src="/visor/bundle.js"></script>
</body>
</html>

