body {
  padding: 30px;
}

.escenarios {
  border-collapse: collapse;
  font-size: 30px;
  margin: auto;
  width: 50%;
}

.escenarios td, .escenarios th {
  border: 1px, solid #ddd;
  padding: 12px;
  text-align: center;
}

.escenarios tr:nth-child(even) {
  background-color: #f2f2f2;
}

.escenarios tr:hover {
  background-color: #ddd;
}

.escenarios th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04aa6d;
  color: white;
}
